*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    font: Helvitica, "Times New Roman", serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-left: 20px;
    padding-bottom: 30px;
}

h3 {
    padding: 20px;
}

.center-vert {
    padding: 140px 140px;
}

.recipe-links {
    list-style: none;
    line-height: 16px;
    text-align: justify;
    margin-left: 160px;
}
/*applies this only to the first page list*/

button {
    box-shadow: 1px 1px 4px rgba(0,0,0,.5);
}

button,
a {
    background-color: rgb(0, 128, 0);
    text-decoration: none;
    color: white;
    font-size: 24px;
}
/*fills the entire button with this color and makes lettering white*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:400px;
}
/*this is to center the images of the food*/

.recipe-card {
    text-align: center;
    background-color: antiquewhite;
    border: 3px solid green;
    padding: 20px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.5);
}

.recipe-content {
    text-align: left;
    padding: 20px;
}

button {
    padding: 10px;
    margin: 10px;
}